$default-font: "OpenSans-example", sans-serif
$header-fontBold: "LucidaBrightDemi", sans-serif
$header-font: "LucidaBrightRegular", sans-serif
$accent: rgb(147, 124, 111)
$text35: rgb(35, 35, 35)
$text47: rgb(47, 47, 47)

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
